<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/base.css'>
  <link rel='stylesheet' type='text/css' href='/styles/layout.css'>
  <link rel='stylesheet' type='text/css' href='/styles/modules.css'>
</head>
<body>
  <h1>Book Details</h1>
  <ul>
      <li>
        <img src='<%= books.img%>'>
        <h3><%= books.bookTitle %></h3>
        <p><%= books.authors %></p>
        <p><%= books.book_description %></p>
        <p><%=books.isbn%></p>
        <a href='/'><button>Back to Home</button></a>
        <form action='/books/<%= books.id %>?_method=PUT' method='POST'>
          <label>Image URL:</label>
          <input type='text' name='img' value='<%= books.img%>'>
          <label>Book Title:</label>
          <input type='text' name='bookTitle' value='<%= books.bookTitle%>'>
          <label>Authors:</label>
          <input type='text' name='authors' value='<%= books.authors%>'>
          <label>Book Description:</label>
          <input type='text' name='book_description' value='<%= books.book_description%>'>
          <label>ISBN:</label>
          <input type='text' name='isbn' value='<%= books.isbn%>'>
          <input type='submit' value ='Update Details'>
        </form>
        <form action='/books/<%= books.id %>?_method=DELETE' method='POST'>
          <input type='submit' value='Delete This book'>
        </form>
      </li>
  </ul>
</body>
</html>