<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='./styles/reset.css'>
  <link rel='stylesheet' href='./styles/base.css'>
  <link rel='stylesheet' href='./styles/layout.css'>
  <link rel='stylesheet' href='./styles/modules.css'>
</head>
<body>
  <div>
    <h1>WELCOME TO THE BOOK APP</h1>
  </div>
  <h2>Total Books: <%=books.length%></h2>
  <ul>
    <% for(let book in books){ %>
    
      <li>
        <img src='<%= books[book].img%>'>
        <h3><%= books[book].bookTitle %></h3>
        <p><%= books[book].authors %></p>
        <p><%= books[book].book_description %></p>
      </li>
      
      <% } %>
  </ul>
</body>
</html>