<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='./styles/reset.css'>
  <link rel='stylesheet' href='./styles/base.css'>
  <link rel='stylesheet' href='./styles/layout.css'>
  <link rel='stylesheet' href='./styles/modules.css'>
</head>
<body>
  <div>
    <h1>WELCOME TO THE BOOK APP</h1>
  </div>
  <h2>Total Books: <%=books.length%></h2>
  <ul>
    <li>Total Books: <%=books.length%></li>
    <% for(let book in books){ %>
    
      <li>
        <img src='<%= books[book].img%>'>
        <h3><%= books[book].bookTitle %></h3>
        <p><%= books[book].authors %></p>
        <p><%= books[book].book_description %></p>
        <form action='/books/<%= books[book].id %>' method='GET'>
          <input type='hidden' name='img' value='<%= books[book].img%>'>
          <input type='hidden' name='bookTitle' value='<%= books[book].bookTitle%>'>
          <input type='hidden' name='authors' value='<%= books[book].authors%>'>
          <input type='hidden' name='book_description' value='<%= books[book].book_description%>'>
          <input type='hidden' name='isbn' value='<%= books[book].isbn%>'>
          <input type='submit' value ='View Details'>
        </form>
      </li>
      
      <% } %>
  </ul>
</body>
</html>